<div class="row">

<div class="col-sm-7">
    <div class="table-responsive"> 
      <table class="table table-hover">
          <thead style="background-color: #007bff; color:white; font-size: small;">
            <tr>
              <th>Fecha evento</th>
              <th>Nivel glucosa</th>
              <th>Pospandrial</th>
              <th></th>
              <!-- <th></th> -->
            </tr>
          </thead>
          <tbody>
            <tr [ngStyle]="selectedIndexEventType === i ? {'background-color': 'whitesmoke'} : {'': ''}" style="font-size: small;" 
            *ngFor="let e of pagedData.pagedList; index as i;" (click)="changeSelectedIndex(i)">
              <td>{{e.eventDate | date: 'dd/MM/yyyy'}}</td>
              <td>{{e.glcLevel}}</td>
              <td>{{e.pospandrial}}</td>
              <!-- <td><i class="fa fa-info" (click)="openInfo(contentInfo, i)"  aria-hidden="true" style="font-size:17px;"></i></td> -->
              <th>
                <button class="btn btn-danger btn-sm"><i class="fa fa-ban" style="font-size: 10px;" aria-hidden="true"></i></button></th>
            </tr>
          
          </tbody>
          
        </table>
    </div>
</div>

<div class="col-sm-5">
    <div class="card text-center">
        <div class="card-header">
            Alimentos
        </div>
        <div class="card-body">
            <form class="row g-4">
    
                <div class="col-sm-4">
                  <label for="inputAddress" class="form-label" name="glcLevel">Glucosa</label>
                  <br>
                  <label  name="glcLevel">{{currentEventShow.glcLevel}}</label>

                </div>
                <div class="col-sm-4">
                    
                        <label class="form-check-label" for="flexSwitchCheckChecked">Fecha</label>
                        <br>
                        <label name="glcLevel">{{currentEventShow.eventDate | date: 'dd/MM/yyyy'}}</label>
                </div>

                <div class="col-sm-4">
                        <label class="form-check-label" for="flexSwitchCheckChecked">Tiempo</label>
                        <br>
                        <label name="glcLevel">{{currentEventShow.mealTypeText}}</label>
                </div>
                
              </form>

              <br>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Alimento</th>
                    <th scope="col">Cantidad</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let m of currentEventShow.mealList; index as i">
                    <td>{{m.mealName}}</td>
                    <td>{{m.quantity}}</td>
                  </tr>
               
                </tbody>
              </table>
        </div>
      </div>
</div>